@import "tailwindcss";

@theme {
  --color-primary: #D91B7E;
  --color-secondary: #FF5722;
  --color-muted: #9CA3AF;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #FBFBFC;
  color: #4B5563;
}

button {
  cursor: pointer;
  transition: all .15s ease;
  
  &:active {
    transform: scale(.95);
  }

  &:disabled {
    cursor: not-allowed;
  }
}